.box {
    width: 360px;
    border: 11px solid #605f60;
    padding: 30px;
    background-color: #242526;
    margin: 50px auto;
    text-align: center;
}
body{
  background-image:url(https://pic2.zhimg.com/100/v2-3ed0ca43b49f6e9986f8129550e96c73_r.jpg);
   background-size:cover;
}
 h3{
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  margin: 50px auto;
  text-align: left;
  font-family: "SinaNova",Georgia,Times, serif;
  font-weight: lighter;
}


a{
  text-decoration:none;
}
h4:hover{color:green;front-size:20px;background-color: white}

#tst3{
  position:absolute;
  left:48%;
  top:48%;
}
